:root {
  --bs-link-color: #2b3137;
}

.cover-container {
  max-width: 42em;
}

.nav.nav-pills {
  gap: 30px;
}
.nav-link {
  padding: 2px 0;
}

a.nav-link:hover {
  color: #2b313788;
}

.nav-masthead .nav-link {
  color: #333;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: var(--bs-link-color);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: var(--bs-link-color);
  border-bottom-color: var(--bs-link-color);
}


/* Personal aditions */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link  {
  border-radius: 0;
  color: var(--bs-link-color);
  background: none;
  font-weight: bold;
  border-bottom: 2px solid var(--bs-link-color);
}

body {
  background-color: #e6e8e8;
}

footer.border-top {
  border-top-color: #c7cdcd!important;
}

.container-box {
  box-shadow: 0 0 15px 0 #0000000f;
  border: 1px solid #0000000f;
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  color: #2b3137;
}

.skill-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: center;
  gap: 10px 30px;
}

.skill-set {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.mail-form .form-group {
  max-width: 500px;
}

textarea.form-control {
  resize: none;
}


.project-card {
  background-color: #fff;
}

.card-text {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-img {
  width: 200px;
  height: 100%;
  min-height: 250px;
  box-shadow: 0 0 15px #000000 inset;
  background-size: cover;
  background-position: center center;
}